header{
    width: 100%;
    height: 80px;
    background-color: #232536;
}
nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    .logo__wrapper{
        flex-grow: 1;
    }
    .nav__menu{
        display: flex;
        gap: 24px;
        list-style-type: none;
        margin-right: 32px;
        .nav__item{
            .nav__link{
                text-decoration: none;
                @include font();
            }
        }
    }
    .nav__btn{
        border: none;
        padding: 16px 48px;
        background-color: #fff;
        @include font($f-family: "Sen",$f-size:18px,$f-color:#232536,$f-weight:700,$f-height:24px);
    }
}

